.vivek{
    background-color: rgb(102, 62, 62);
    padding: 20px;
    margin: 10px;
    height: 100px;



}
.container{
    background-color: rgb(67, 109, 123);
    padding: 20px;
    margin: 10px;
    height: 100px;
    width:100px
   
}