.vivek{
    background-color: lightgray;
    padding: 20px;
    margin: 10px;
    height: 100px;



}
.container{
    background-color: lightblue;
    padding: 20px;
    margin: 10px;
    height: 100px;
    width:100px
   
}