.vivek{
    background-color: rgb(136, 73, 73);
    padding: 20px;
    margin: 10px;
    height: 100px;



}
.container{
    background-color: lightblue;
    padding: 20px;
    margin: 10px;
    height: 100px;
    width:100px
   
}